<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
</head>
<body>
    <div style="margin: 100px; padding:80px; border: 1px solid blue; ">

    
    <h1>Book Tasks</h1>
    <ul>
        <li><a href="http://localhost:3036/books/newbook">Add Book</a></li>
        <li><a href="http://localhost:3036/books/all">List All Books</a></li>
        <li><a href="http://localhost:3036/books/bookr">Delete With ISBN</a></li>
        <li><a href="http://localhost:3036/books/editbook">Edit Book With ISBN</a></li>
    </ul>
</div>
</body>
</html>