ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #8842d5;
    
}

li {
    float: left;
    
    font-size: 20px;
    background-color: burlywood;
    color: darkblue;
    max-height: 43px;
    min-height: 43px;
    vertical-align: middle;

}
a{
    padding-top: 1px;
    vertical-align:top;
    
}
button{
    background-color: cornflowerblue;
}
button:hover{
    background-color: chartreuse;
    color: red;
    font-weight: 900;
}
table>caption{
    font-size: 23px;
    font-weight: 700;
    color: blue;
    text-align: left;
    line-height: 2.0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    border-radius: 3px;
    height: 22px;
    font-size: 20px;
    border: 1px solid lightslategrey;
    text-align: center;
    max-height: 22px;
    min-height: 22px;

}
.mycart{
    border: 1px solid cyan;
}
.mycart:hover{
    border: 2px solid yellow;
}
.table2{
    width: 140px;
    padding: 4px;
}
.table2>tr>tbody>tr{
    border-style: none;
}
.table2>tr>tbody>tr>td{
    border-style: none;
}
table{
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    border-collapse:collapse;
}
table>thead{
    background-color: blue;
    color: white;
    font-weight: 600;
    border: 1px solid black;

}
table>thead>tr>td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 40px;
    font-size: 22px;
    font-weight: 700;

}
table>tbody>tr{
    text-align: left;
    border: 1px solid black;
    height: 35px;
}
table>tbody>tr:nth-child(2n){
    background-color:aliceblue;

}

table>tbody>tr:hover{
    background-color: silver;
}
table>tbody>tr>td:first-child{
    text-align: left;
}
table>tbody>tr>td{
    padding-left: 5px;
    padding-top: 3px;
    text-align:center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 35px;
    border: 1px solid gray;

}


li a {
    display: block;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-left: 8px;
    height: 40px;
    text-decoration: none;
    color: blue;
    font-size: 24px;
    font-weight: 500;
    min-width: 150px;
    max-width: 150px;
    min-height: 30px;
    max-height: 30px;
}

/* Links will change color when hovered over */
li a:hover {
    color: blue;
    background-color: bisque;
}